<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezerwacja Hoteli</title>
    <link rel="stylesheet" href="{{ asset('css/hotel.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
<header>
    <div class="container">
        <h1>Hotel & Tour Booking</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/hotels">Hotels</a></li>
                <li><a href="#">Tours</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>

</header>

<div class="main-container">

    <div class="search-container">
        <div class="search-box">
            <input type="text" id="location" name="location" placeholder="Localization">
            <input type="date" id="checkin-date" name="checkin-date">
            <input type="date" id="checkout-date" name="checkout-date">
            <button type="button" class="search-btn">Search</button>
        </div>
    </div>

    <div class="filters">
        <h2>Filter Hotels</h2>
        <form id="filter-form" method="GET" action="{{ path('hotel') }}">
            <div class="form-group">
                <label for="property-type">Type of object:</label>
                <select id="property-type" name="property-type">
                    <option value="">All</option>
                    <option value="apartment">Apartments</option>
                    <option value="vacation_home">Holiday homes</option>
                    <option value="hotel">Hotels</option>
                </select>
            </div>
            <button type="submit" class="search-btn">Filter</button>
        </form>
    </div>

    <div class="filters">
        <h2>See hotel standard</h2>
        <form id="filter-form">
            <div class="form-group">
                <label for="property-type">Standard:</label>
                <select id="property-type" name="property-type">
                    <option value="1">1 star</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                    <option value="5">5 stars</option>
                </select>
            </div>
            <button type="submit" class="search-btn">Filter</button>
        </form>
    </div>


</div>



<main>

        {% for hotel in hotels %}
            <section class="hotel">
                <img src="{{ hotel.imgUrl }}" alt="{{ hotel.title }}">
                <div class="hotel-type">{{ hotel.typeObject  }}</div>
                    <h2>{{ hotel.title }}</h2>
                <div class="hotel-location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>{{ hotel.city }}, {{ hotel.country }}</span>
                </div>
                <p>{{ hotel.description }}</p>
                <div class="hotel-details">
                    <button class="reserve-btn">Book now</button>
                    <h2 class="hotel-price">${{ hotel.price }}<p>per person, per night</p></h2>
                </div>
                <div id="rating-{{ loop.index }}" class="stars" data-rating="{{ hotel.stars }}"></div>
            </section>
        {% else %}
            <p>No hotels available.</p>
        {% endfor %}

</main>

<footer>
    <div class="container">
        <div class="footer-info">
            <h3>Contact Us</h3>
            <p>Address: 123 Main Street, City, Country</p>
            <p>Phone: +1 (234) 567-8901</p>
            <p>Email: support@example.com</p>
        </div>
        <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Cancellation Policy</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Hotel & Tour Booking. All rights reserved.</p>
    </div>
</footer>

<script>

    function generateStars(rating, starsContainer) {
        starsContainer.innerHTML = '';

        const fullStars = Math.floor(rating);
        const halfStar = rating % 1 >= 0.5;
        const emptyStars = 5 - fullStars - (halfStar ? 1 : 0);


        for (let i = 0; i < fullStars; i++) {
            const fullStarIcon = document.createElement('i');
            fullStarIcon.classList.add('fas', 'fa-star');
            starsContainer.appendChild(fullStarIcon);
        }


        if (halfStar) {
            const halfStarIcon = document.createElement('i');
            halfStarIcon.classList.add('fas', 'fa-star-half-alt');
            starsContainer.appendChild(halfStarIcon);
        }


        for (let i = 0; i < emptyStars; i++) {
            const emptyStarIcon = document.createElement('i');
            emptyStarIcon.classList.add('far', 'fa-star');
            starsContainer.appendChild(emptyStarIcon);
        }
    }


    document.querySelectorAll('.stars').forEach(starsContainer => {
        const rating = starsContainer.getAttribute('data-rating');
        generateStars(rating, starsContainer);
    });
</script>




</body>
</html>
